node-red/flows.json
[
    {
        "id": "e3ca88df1a09ceff",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9391ef88b1f4d066",
        "type": "kafkajs-client",
        "name": "local-kafka",
        "brokers": "localhost:9092",
        "clientid": "node-red-producer",
        "connectiontimeout": 3000,
        "requesttimeout": 25000,
        "advancedretry": false,
        "maxretrytime": 30000,
        "initialretrytime": 300,
        "factor": 0.2,
        "multiplier": 2,
        "retries": 5,
        "auth": "none",
        "tlsselfsign": false,
        "tlscacert": "",
        "tlsclientcert": "",
        "tlsprivatekey": "",
        "tlspassphrase": "",
        "saslssl": true,
        "saslmechanism": "plain",
        "loglevel": "debug"
    },
    {
        "id": "1e3981c8552e0d34",
        "type": "Kafka Broker",
        "name": "local-kafka",
        "hosts": [
            {
                "host": "localhost",
                "port": 9092
            }
        ],
        "hostsEnvVar": "",
        "connectTimeout": 10000,
        "requestTimeout": 30000,
        "autoConnect": "true",
        "idleConnection": 5,
        "reconnectOnIdle": "true",
        "maxAsyncRequests": 10,
        "checkInterval": 10,
        "selfSign": true,
        "usetls": false,
        "useCredentials": false
    },
    {
        "id": "35de16ef9ee1aa1b",
        "type": "websocket-listener",
        "path": "/orders-live",
        "wholemsg": "false"
    },
    {
        "id": "cff14f982fecbc9a",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-kafkajs": "0.0.7",
            "node-red-contrib-kafka-manager": "0.5.1"
        }
    },
    {
        "id": "272c9b70270725d8",
        "type": "ui_tab",
        "name": "Orders Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "79337bc6009e099d",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "09fb5ec0571fa0c7",
        "type": "ui_group",
        "name": "City Analytics",
        "tab": "272c9b70270725d8",
        "order": 1,
        "disp": true,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a482d81985dffe7c",
        "type": "ui_group",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ba86bf5bea272fa8",
        "type": "redis-config",
        "name": "Local",
        "options": "{}",
        "cluster": false,
        "optionsType": "json"
    },
    {
        "id": "c1eb4eb22f91e01c",
        "type": "redis-config",
        "name": "Local",
        "options": "{   \"host\": \"127.0.0.1\",   \"port\": 6379 }",
        "cluster": false,
        "optionsType": "json"
    },
    {
        "id": "93c8696d9c627188",
        "type": "csv",
        "z": "e3ca88df1a09ceff",
        "d": true,
        "name": "Parse Orders CSV",
        "spec": "rfc",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "mult",
        "ret": "\\r\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 590,
        "y": 2340,
        "wires": [
            [
                "6a6f91448b54e69c"
            ]
        ]
    },
    {
        "id": "0bbd138f425166cd",
        "type": "file in",
        "z": "e3ca88df1a09ceff",
        "d": true,
        "name": "Read File",
        "filename": "/home/nithin/Downloads/real-time-order-analytics/node-red/orders_data.csv",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 340,
        "y": 2340,
        "wires": [
            [
                "93c8696d9c627188"
            ]
        ]
    },
    {
        "id": "51d2c0d01d3b4082",
        "type": "function",
        "z": "e3ca88df1a09ceff",
        "d": true,
        "name": "function 1",
        "func": "// =========================\n// 🔹 CLEAN & PREPARE DATA\n// =========================\n\n// ---- Clean date ----\nconst rawDate = msg.payload.order_date || \"\";\n\nconst cleanedDate = rawDate\n  .replace(/^[A-Za-z]+,\\s*/, '')\n  .replace(/\\sIST$/, '');\n\nconst parsedDate = new Date(cleanedDate + ' GMT+0530');\nconst eventTime = isNaN(parsedDate.getTime()) ? null : parsedDate.getTime();\n\n// ---- Clean city & state ----\nconst cleanCity = msg.payload.ship_city\n  ? msg.payload.ship_city.replace(/,+$/, '').trim().toUpperCase()\n  : null;\n\nconst cleanState = msg.payload.ship_state\n  ? msg.payload.ship_state.replace(/,+$/, '').trim().toUpperCase()\n  : null;\n\n// ---- Clean amount (₹, commas) ----\nconst cleanAmount = msg.payload.item_total\n  ? Number(msg.payload.item_total.toString().replace(/[₹,]/g, ''))\n  : null;\n\n// ---- Build normalized object ----\nconst order = {\n  order_id: msg.payload.order_no || null,\n  order_date: rawDate,\n  buyer_name: msg.payload.buyer || null,\n  city: cleanCity,\n  state: cleanState,\n  sku: msg.payload.sku || null,\n  description: msg.payload.description || null,\n  quantity: msg.payload.quantity ? Number(msg.payload.quantity) : null,\n  amount: cleanAmount,\n  event_time: eventTime\n};\n\n\n// =========================\n// 🔹 FORMAT SWITCH (IMPORTANT)\n// =========================\n\nlet format = msg.format || \"json\";  // default json\n\ntry {\n\n  if (format === \"csv\") {\n    // CSV format: order_id,amount,city\n    msg.payload = `${order.order_id},${order.amount},${order.city}`;\n  }\n\n  else if (format === \"xml\") {\n    // XML format\n    msg.payload = `<order>\n  <order_id>${order.order_id}</order_id>\n  <amount>${order.amount}</amount>\n  <city>${order.city}</city>\n</order>`;\n  }\n\n  else {\n    // JSON format (default)\n    msg.payload = JSON.stringify({\n      order_id: order.order_id,\n      amount: order.amount,\n      city: order.city\n    });\n  }\n\n} catch (err) {\n  node.error(\"Format conversion error: \" + err);\n  return null;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 2460,
        "wires": [
            [
                "eff03c684ad60919",
                "ccbc180a9540bc40"
            ]
        ]
    },
    {
        "id": "0f35b6fda90245d5",
        "type": "kafkajs-producer",
        "z": "e3ca88df1a09ceff",
        "d": true,
        "name": "Order Kafka Producer",
        "client": "9391ef88b1f4d066",
        "topic": "orders_events_v2",
        "advancedoptions": false,
        "acknowledge": "all",
        "partition": "",
        "headeritems": {},
        "key": "",
        "responsetimeout": 30000,
        "transactiontimeout": 60000,
        "metadatamaxage": 300000,
        "allowautotopiccreation": false,
        "x": 1040,
        "y": 2740,
        "wires": []
    },
    {
        "id": "6a6f91448b54e69c",
        "type": "split",
        "z": "e3ca88df1a09ceff",
        "d": true,
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 830,
        "y": 2340,
        "wires": [
            [
                "6ea4045e36bba8af"
            ]
        ]
    },
    {
        "id": "eff03c684ad60919",
        "type": "delay",
        "z": "e3ca88df1a09ceff",
        "d": true,
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1220,
        "y": 2500,
        "wires": [
            [
                "0f35b6fda90245d5"
            ]
        ]
    },
    {
        "id": "b31a2ceca60e6ae4",
        "type": "inject",
        "z": "e3ca88df1a09ceff",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 2340,
        "wires": [
            [
                "0bbd138f425166cd"
            ]
        ]
    },
    {
        "id": "b68297d9961f367b",
        "type": "http in",
        "z": "e3ca88df1a09ceff",
        "d": true,
        "name": "http url",
        "url": "/orders",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 2840,
        "wires": [
            [
                "ecdd85a6f56c6f28"
            ]
        ]
    },
    {
        "id": "ecdd85a6f56c6f28",
        "type": "function",
        "z": "e3ca88df1a09ceff",
        "d": true,
        "name": "function 2",
        "func": "const city = (msg.req.query.city || \"BENGALURU\").toUpperCase();\nconst name = (msg.req.query.name || \"\").toUpperCase();\nconst limit = parseInt(msg.req.query.limit || \"10\", 10);\n\nlet query = `\nSELECT\n   order_id,\n   order_date,\n   buyer_name,\n   city,\n   state,\n   sku,\n   description,\n   quantity,\n   amount,\n   event_time\nFROM ORDERS_BY_CITY_NAME\nWHERE city='${city}'\n`;\n\nif (name) {\n    query += ` AND buyer_name='${name}'`;\n}\n\nquery += ` LIMIT ${limit};`;\n\nmsg.payload = { ksql: query };\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 2840,
        "wires": [
            [
                "2dd3257ef68d04f7",
                "bfbc76548245b71c"
            ]
        ]
    },
    {
        "id": "2dd3257ef68d04f7",
        "type": "http request",
        "z": "e3ca88df1a09ceff",
        "d": true,
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:8088/query",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "other",
                "valueValue": "application/vnd.ksql.v1+json"
            }
        ],
        "x": 580,
        "y": 2840,
        "wires": [
            [
                "f0a8cfb4430d2072",
                "dbc83e4bcf1feeed"
            ]
        ]
    },
    {
        "id": "f0a8cfb4430d2072",
        "type": "function",
        "z": "e3ca88df1a09ceff",
        "d": true,
        "name": "function 3",
        "func": "// ksqlDB response example:\n// [\n//   { header: {...} },\n//   { row: { columns: [...] } },\n//   { row: { columns: [...] } }\n// ]\n\nconst rows = msg.payload || [];\nconst result = [];\n\nfor (const r of rows) {\n\n    // ✅ skip schema/header/invalid messages\n    if (!r || !r.row || !Array.isArray(r.row.columns)) continue;\n\n    const c = r.row.columns;\n\n    // DEBUG (optional - remove later)\n    // node.warn(c);\n\n    /*\n      IMPORTANT:\n      Because you are using MATERIALIZED TABLE,\n      first column = TABLE KEY (city)\n\n      So actual order becomes:\n\n      c[0] = key_city\n      c[1] = order_id\n      c[2] = order_date\n      c[3] = buyer_name\n      c[4] = city\n      c[5] = state\n      c[6] = sku\n      c[7] = description\n      c[8] = quantity\n      c[9] = amount\n      c[10] = event_time\n    */\n\n    result.push({\n    order_id: c[0],\n    buyer_name: c[1],\n    city: c[2],\n    state: c[3],\n    order_date: c[4],\n    sku: c[5],\n    description: c[6],\n    quantity: Number(c[7]),\n    amount: Number(c[8]),\n    event_time: c[9] ? Number(c[9]) : null\n});\n}\n\n// send clean array to React\nmsg.payload = result;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 2840,
        "wires": [
            [
                "85acf813ec7962ee",
                "5fafe02f41c8a258"
            ]
        ]
    },
    {
        "id": "85acf813ec7962ee",
        "type": "http response",
        "z": "e3ca88df1a09ceff",
        "d": true,
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 980,
        "y": 2840,
        "wires": []
    },
    {
        "id": "bfbc76548245b71c",
        "type": "debug",
        "z": "e3ca88df1a09ceff",
        "d": true,
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 2940,
        "wires": []
    },
    {
        "id": "dbc83e4bcf1feeed",
        "type": "debug",
        "z": "e3ca88df1a09ceff",
        "d": true,
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 2960,
        "wires": []
    },
    {
        "id": "5fafe02f41c8a258",
        "type": "debug",
        "z": "e3ca88df1a09ceff",
        "d": true,
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 2960,
        "wires": []
    },
    {
        "id": "6ea4045e36bba8af",
        "type": "function",
        "z": "e3ca88df1a09ceff",
        "d": true,
        "name": "function 4",
        "func": "msg.format = \"csv\";   // change to xml / json\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 2340,
        "wires": [
            [
                "51d2c0d01d3b4082"
            ]
        ]
    },
    {
        "id": "ccbc180a9540bc40",
        "type": "debug",
        "z": "e3ca88df1a09ceff",
        "d": true,
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 2580,
        "wires": []
    },
    {
        "id": "05cc01c6a3a6ae47",
        "type": "inject",
        "z": "e3ca88df1a09ceff",
        "name": "Inject CSV",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "3d5f4eb0ddec444f"
            ]
        ]
    },
    {
        "id": "3d5f4eb0ddec444f",
        "type": "function",
        "z": "e3ca88df1a09ceff",
        "name": "Set CSV File",
        "func": "msg.filename = \"/home/nithin/Downloads/real-time-order-analytics/data/orders_data_1.csv\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 100,
        "wires": [
            [
                "92e8990aea03a362"
            ]
        ]
    },
    {
        "id": "92e8990aea03a362",
        "type": "file in",
        "z": "e3ca88df1a09ceff",
        "name": "Read File",
        "filename": "filename",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 500,
        "y": 100,
        "wires": [
            [
                "5b3209ed3d49cc68",
                "f95ac924f8bfa14b"
            ]
        ]
    },
    {
        "id": "5b3209ed3d49cc68",
        "type": "csv",
        "z": "e3ca88df1a09ceff",
        "name": "",
        "spec": "rfc",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "one",
        "ret": "\\r\\n",
        "temp": "",
        "skip": "0",
        "strings": false,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 670,
        "y": 100,
        "wires": [
            [
                "42dc192a69b5f6ed"
            ]
        ]
    },
    {
        "id": "42dc192a69b5f6ed",
        "type": "function",
        "z": "e3ca88df1a09ceff",
        "name": "CSV Formatter",
        "func": "// =========================\n// 🔹 FINAL CSV FORMATTER (CLEAN + SAFE)\n// =========================\n\n// Ensure payload is object\nif (typeof msg.payload !== \"object\") {\n  node.warn(\"Invalid payload (not object): \" + msg.payload);\n  return null;\n}\n\nconst row = msg.payload;\n\n// ---- Clean date ----\nconst rawDate = row.order_date || \"\";\n\nconst cleanedDate = rawDate\n  .replace(/^[A-Za-z]+,\\s*/, '')\n  .replace(/\\sIST$/, '');\n\n//timezone\nconst parsedDate = new Date(cleanedDate + ' GMT+0530');\nconst eventTime = isNaN(parsedDate.getTime()) ? null : parsedDate.getTime();\n\n// ---- Clean city ----\nconst cleanCity = row.ship_city\n  ? row.ship_city.replace(/,+$/, '').trim().toUpperCase()\n  : null;\n\n// ---- Clean state ----\nconst cleanState = row.ship_state\n  ? row.ship_state.replace(/,+$/, '').trim().toUpperCase()\n  : null;\n\n// ---- Clean amount ----\nconst cleanAmount = row.item_total\n  ? Number(row.item_total.toString().replace(/[₹,]/g, ''))\n  : null;\n\n// ---- Validate required fields ----\nif (!row.order_no || !cleanCity) {\n  node.warn(\"Skipping invalid row: \" + JSON.stringify(row));\n  return null;\n}\n\n// ---- Build object ----\nconst order = {\n  order_id: row.order_no,\n  order_date: rawDate,\n  buyer_name: row.buyer || null,\n  city: cleanCity,\n  state: cleanState,\n  sku: row.sku || null,\n  description: row.description || null,\n  quantity: row.quantity ? Number(row.quantity) : null,\n  amount: cleanAmount,\n  event_time: eventTime\n};\n\n// =========================\n// 🔹 CSV OUTPUT\n// =========================\n// Format: order_id,amount,city\n\nconst amountFinal = order.amount !== null ? order.amount : 0;\n\nmsg.payload = `${order.order_id},${amountFinal},${order.city}`;\n\n// Debug log\nnode.warn(\"FINAL CSV → \" + msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 100,
        "wires": [
            [
                "ceed6bea5a426bae",
                "91cc297cc4ecf301"
            ]
        ]
    },
    {
        "id": "ceed6bea5a426bae",
        "type": "kafkajs-producer",
        "z": "e3ca88df1a09ceff",
        "name": "Order Kafka Producer",
        "client": "9391ef88b1f4d066",
        "topic": "orders_events_v2",
        "advancedoptions": false,
        "acknowledge": "all",
        "partition": "",
        "headeritems": {},
        "key": "",
        "responsetimeout": 30000,
        "transactiontimeout": 60000,
        "metadatamaxage": 300000,
        "allowautotopiccreation": false,
        "x": 1140,
        "y": 100,
        "wires": []
    },
    {
        "id": "ace8eb01a819cc9d",
        "type": "inject",
        "z": "e3ca88df1a09ceff",
        "name": "Inject JSON",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 300,
        "wires": [
            [
                "82d01aba53e81459"
            ]
        ]
    },
    {
        "id": "82d01aba53e81459",
        "type": "function",
        "z": "e3ca88df1a09ceff",
        "name": "Set JSON File",
        "func": "msg.filename = \"/home/nithin/Downloads/real-time-order-analytics/data/orders_data.json\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 300,
        "wires": [
            [
                "161e8d31ac655fb1",
                "0325c84a753fb169"
            ]
        ]
    },
    {
        "id": "58269572cc1fa163",
        "type": "kafkajs-producer",
        "z": "e3ca88df1a09ceff",
        "name": "Order Kafka Producer",
        "client": "9391ef88b1f4d066",
        "topic": "orders_events_v2",
        "advancedoptions": false,
        "acknowledge": "all",
        "partition": "",
        "headeritems": {},
        "key": "",
        "responsetimeout": 30000,
        "transactiontimeout": 60000,
        "metadatamaxage": 300000,
        "allowautotopiccreation": false,
        "x": 1220,
        "y": 360,
        "wires": []
    },
    {
        "id": "161e8d31ac655fb1",
        "type": "file in",
        "z": "e3ca88df1a09ceff",
        "name": "Read File",
        "filename": "filename",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 480,
        "y": 300,
        "wires": [
            [
                "3fd60aa7e457f60c"
            ]
        ]
    },
    {
        "id": "f95ac924f8bfa14b",
        "type": "debug",
        "z": "e3ca88df1a09ceff",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 20,
        "wires": []
    },
    {
        "id": "0325c84a753fb169",
        "type": "debug",
        "z": "e3ca88df1a09ceff",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 220,
        "wires": []
    },
    {
        "id": "3fd60aa7e457f60c",
        "type": "json",
        "z": "e3ca88df1a09ceff",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 610,
        "y": 340,
        "wires": [
            [
                "8428fe75c4aa45d0"
            ]
        ]
    },
    {
        "id": "de33e8dae38a2bc6",
        "type": "function",
        "z": "e3ca88df1a09ceff",
        "name": "JSON Formatter",
        "func": "// =========================\n// 🔹 JSON FORMATTER (FINAL)\n// =========================\n\n// Ensure payload is object\nif (typeof msg.payload !== \"object\") {\n    node.warn(\"Invalid payload: \" + msg.payload);\n    return null;\n}\n\nconst row = msg.payload;\n\n// ---- Clean Order ID ----\nconst orderId = row.order_no ? row.order_no.toString().trim() : null;\n\n// ---- Clean City ----\nconst city = row.ship_city\n    ? row.ship_city.replace(/,+$/, '').trim().toUpperCase()\n    : null;\n\n// ---- Clean Amount ----\nlet amount = null;\nif (row.item_total) {\n    amount = Number(\n        row.item_total.toString().replace(/[₹,]/g, '')\n    );\n}\n\n// ---- Validation ----\nif (!orderId || !city) {\n    node.warn(\"Skipping invalid row: \" + JSON.stringify(row));\n    return null;\n}\n\n// =========================\n// 🔹 FINAL JSON OUTPUT\n// =========================\n\nmsg.payload = {\n    order_id: orderId,\n    amount: amount !== null ? amount : 0,\n    city: city\n};\n\n// Debug\nnode.warn(\"FINAL JSON → \" + JSON.stringify(msg.payload));\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 340,
        "wires": [
            [
                "0fe8ef2594d7e48c",
                "74bca7abf2de2ec4"
            ]
        ]
    },
    {
        "id": "4d3d01f1d2b0a0a2",
        "type": "kafkajs-producer",
        "z": "e3ca88df1a09ceff",
        "name": "Order Kafka Producer",
        "client": "9391ef88b1f4d066",
        "topic": "orders_events_v2",
        "advancedoptions": false,
        "acknowledge": "all",
        "partition": "",
        "headeritems": {},
        "key": "",
        "responsetimeout": 30000,
        "transactiontimeout": 60000,
        "metadatamaxage": 300000,
        "allowautotopiccreation": false,
        "x": 1220,
        "y": 840,
        "wires": []
    },
    {
        "id": "ca785aa2f3207a8a",
        "type": "inject",
        "z": "e3ca88df1a09ceff",
        "name": "Inject XML",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 680,
        "wires": [
            [
                "223dbdda1cefc704"
            ]
        ]
    },
    {
        "id": "223dbdda1cefc704",
        "type": "function",
        "z": "e3ca88df1a09ceff",
        "name": "Set XML File",
        "func": "msg.filename = \"/home/nithin/Downloads/real-time-order-analytics/data/orders_data.xml\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 680,
        "wires": [
            [
                "b22c18efce52351c",
                "08eef7973add72f6"
            ]
        ]
    },
    {
        "id": "b22c18efce52351c",
        "type": "file in",
        "z": "e3ca88df1a09ceff",
        "name": "Read File",
        "filename": "filename",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 460,
        "y": 680,
        "wires": [
            [
                "06f059a021dd9748"
            ]
        ]
    },
    {
        "id": "08eef7973add72f6",
        "type": "debug",
        "z": "e3ca88df1a09ceff",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 580,
        "wires": []
    },
    {
        "id": "74bca7abf2de2ec4",
        "type": "debug",
        "z": "e3ca88df1a09ceff",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 260,
        "wires": []
    },
    {
        "id": "91cc297cc4ecf301",
        "type": "debug",
        "z": "e3ca88df1a09ceff",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 40,
        "wires": []
    },
    {
        "id": "27c7e7b5563865da",
        "type": "function",
        "z": "e3ca88df1a09ceff",
        "name": "XML Formatter",
        "func": "// =========================\n// 🔹 XML FORMATTER (FINAL)\n// =========================\n\nif (!msg.payload) {\n    node.warn(\"Empty XML payload\");\n    return null;\n}\n\nlet data = msg.payload;\n\n// ✅ Normalize orders (handles all cases)\n\nlet orders = [];\n\n\nif (data.orders && data.orders.order) {\n    orders = Array.isArray(data.orders.order)\n        ? data.orders.order\n        : [data.orders.order];\n\n}  else {\n    orders = [data];\n}\n\n// ✅ Process all orders\nlet result = [];\n\norders.forEach(row => {\n\n    const orderId = row.order_no\n        ? row.order_no.toString().trim()\n        : null;\n\n    const city = row.ship_city\n        ? row.ship_city.toString().replace(/,+$/, '').trim().toUpperCase()\n        : null;\n\n    let amount = null;\n    if (row.item_total) {\n        amount = Number(\n            row.item_total.toString().replace(/[₹,]/g, '')\n        );\n    }\n\n    // Skip invalid rows\n    if (!orderId || !city) {\n        node.warn(\"Skipping invalid XML row: \" + JSON.stringify(row));\n        return;\n    }\n\n    result.push({\n        order_id: orderId,\n        amount: amount !== null ? amount : 0,\n        city: city\n    });\n\n});\n\n// If no valid data\nif (result.length === 0) {\n    return null;\n}\n\n// ✅ Final payload (multiple orders supported)\nmsg.payload = {\n    orders: result\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 680,
        "wires": [
            [
                "c3169a25326b6401",
                "fbc65add937949b2"
            ]
        ]
    },
    {
        "id": "c3169a25326b6401",
        "type": "debug",
        "z": "e3ca88df1a09ceff",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 580,
        "wires": []
    },
    {
        "id": "8428fe75c4aa45d0",
        "type": "split",
        "z": "e3ca88df1a09ceff",
        "name": "",
        "splt": "",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 710,
        "y": 280,
        "wires": [
            [
                "de33e8dae38a2bc6"
            ]
        ]
    },
    {
        "id": "3554c288d3650938",
        "type": "split",
        "z": "e3ca88df1a09ceff",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 790,
        "y": 680,
        "wires": [
            [
                "27c7e7b5563865da"
            ]
        ]
    },
    {
        "id": "c05d05210d24cb05",
        "type": "function",
        "z": "e3ca88df1a09ceff",
        "name": "function 5",
        "func": "// Flexible XML extractor\n\nlet data = msg.payload;\n\n// Case 1: orders.order\nif (data.orders && data.orders.order) {\n    msg.payload = data.orders.order;\n    return msg;\n}\n\n\n\nnode.warn(\"Invalid XML structure: \" + JSON.stringify(msg.payload));\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 640,
        "wires": [
            [
                "3554c288d3650938"
            ]
        ]
    },
    {
        "id": "0fe8ef2594d7e48c",
        "type": "function",
        "z": "e3ca88df1a09ceff",
        "name": "function 6",
        "func": "msg.payload = JSON.stringify(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 420,
        "wires": [
            [
                "58269572cc1fa163"
            ]
        ]
    },
    {
        "id": "fbc65add937949b2",
        "type": "xml",
        "z": "e3ca88df1a09ceff",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 1150,
        "y": 740,
        "wires": [
            [
                "4d3d01f1d2b0a0a2"
            ]
        ]
    },
    {
        "id": "06f059a021dd9748",
        "type": "xml",
        "z": "e3ca88df1a09ceff",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 610,
        "y": 700,
        "wires": [
            [
                "c05d05210d24cb05"
            ]
        ]
    },
    {
        "id": "6f8d4d3afa655410",
        "type": "Kafka Consumer",
        "z": "e3ca88df1a09ceff",
        "name": "Order Kafka Consumer",
        "broker": "1e3981c8552e0d34",
        "regex": false,
        "topics": [
            {
                "topic": "orders0_avg",
                "offset": 0,
                "partition": 0
            }
        ],
        "groupId": "kafka-node-group",
        "autoCommit": "true",
        "autoCommitIntervalMs": 5000,
        "fetchMaxWaitMs": 100,
        "fetchMinBytes": 1,
        "fetchMaxBytes": 1048576,
        "fromOffset": 0,
        "encoding": "utf8",
        "keyEncoding": "utf8",
        "connectionType": "Consumer",
        "convertToJson": false,
        "x": 280,
        "y": 960,
        "wires": [
            [
                "8c941676ccb64104",
                "1b53916f08c8d292"
            ]
        ]
    },
    {
        "id": "8c941676ccb64104",
        "type": "function",
        "z": "e3ca88df1a09ceff",
        "name": "function websocket format",
        "func": "// 1. Ensure payload exists\nif (!msg.payload) {\n    return null;\n}\n\nlet data;\n\n// 2. Safely parse JSON\ntry {\n    data = (typeof msg.payload === \"string\")\n        ? JSON.parse(msg.payload)\n        : msg.payload;\n} catch (err) {\n    node.warn(\"❌ Invalid JSON received from Kafka\");\n    return null;\n}\n\n// 3. Validate required fields\nif (\n    !data.city ||\n    typeof data.total_amount !== \"number\" ||\n    typeof data.count !== \"number\" ||\n    typeof data.avg !== \"number\"\n) {\n    node.warn(\"⚠️ Invalid data format received\");\n    return null;\n}\n\n// 4. Normalize\ndata.city = String(data.city).toUpperCase();\n\nconst cleanData = {\n    city: data.city,\n    total_amount: data.total_amount,\n    count: data.count,\n    avg: data.avg\n};\n\n\n// 🔥 5. STORE DATA (THIS IS THE IMPORTANT PART)\nlet current = global.get(\"orders\") || [];\n\n// remove old entry for same city\ncurrent = current.filter(o => o.city !== cleanData.city);\n\n// add updated one\ncurrent.push(cleanData);\n\n// save back\nglobal.set(\"orders\", current);\n\n\n// 🔥 6. Send to WebSocket\nmsg.payload = cleanData;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 1000,
        "wires": [
            [
                "694d3d8511b8d148",
                "e54be09090430ce6"
            ]
        ]
    },
    {
        "id": "694d3d8511b8d148",
        "type": "websocket out",
        "z": "e3ca88df1a09ceff",
        "name": "Orders Live WebSocket",
        "server": "35de16ef9ee1aa1b",
        "client": "",
        "x": 810,
        "y": 1080,
        "wires": []
    },
    {
        "id": "1b53916f08c8d292",
        "type": "debug",
        "z": "e3ca88df1a09ceff",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 920,
        "wires": []
    },
    {
        "id": "e54be09090430ce6",
        "type": "debug",
        "z": "e3ca88df1a09ceff",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 940,
        "wires": []
    },
    {
        "id": "93b496b269ac7690",
        "type": "json",
        "z": "e3ca88df1a09ceff",
        "d": true,
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 135,
        "y": 1480,
        "wires": [
            [
                "104b2a684f0d6adf"
            ]
        ],
        "l": false
    },
    {
        "id": "b62049052cac47b7",
        "type": "Kafka Consumer",
        "z": "e3ca88df1a09ceff",
        "d": true,
        "name": "",
        "broker": "1e3981c8552e0d34",
        "regex": false,
        "topics": [
            {
                "topic": "orders0_avg",
                "offset": 0,
                "partition": 0
            }
        ],
        "groupId": "kafka-node-group",
        "autoCommit": "true",
        "autoCommitIntervalMs": 5000,
        "fetchMaxWaitMs": 100,
        "fetchMinBytes": 1,
        "fetchMaxBytes": 1048576,
        "fromOffset": 0,
        "encoding": "utf8",
        "keyEncoding": "utf8",
        "connectionType": "Consumer",
        "convertToJson": false,
        "x": 65,
        "y": 1480,
        "wires": [
            [
                "93b496b269ac7690"
            ]
        ],
        "l": false
    },
    {
        "id": "104b2a684f0d6adf",
        "type": "function",
        "z": "e3ca88df1a09ceff",
        "d": true,
        "name": "function 7",
        "func": "let city = msg.payload.city;\nlet avg = Number(msg.payload.avg);\n\n// Required format for chart\nmsg.topic = city;\nmsg.payload = avg;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 195,
        "y": 1480,
        "wires": [
            [
                "c06aa52b39f839a0"
            ]
        ],
        "l": false
    },
    {
        "id": "c06aa52b39f839a0",
        "type": "ui_chart",
        "z": "e3ca88df1a09ceff",
        "d": true,
        "name": "",
        "group": "09fb5ec0571fa0c7",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 275,
        "y": 1480,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "4c8997fbc87ceeb4",
        "type": "http in",
        "z": "e3ca88df1a09ceff",
        "name": "",
        "url": "/orders",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 1140,
        "wires": [
            [
                "ad20cd67884b6ff3"
            ]
        ]
    },
    {
        "id": "c85346cdde0cabb1",
        "type": "http response",
        "z": "e3ca88df1a09ceff",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1250,
        "y": 1460,
        "wires": []
    },
    {
        "id": "ad20cd67884b6ff3",
        "type": "function",
        "z": "e3ca88df1a09ceff",
        "name": "function redis",
        "func": "msg.payload = \"city_avg:*\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 1180,
        "wires": [
            [
                "409993fb25c6e0d1"
            ]
        ]
    },
    {
        "id": "409993fb25c6e0d1",
        "type": "redis-command",
        "z": "e3ca88df1a09ceff",
        "server": "c1eb4eb22f91e01c",
        "command": "KEYS",
        "name": "Get Redis Keys",
        "topic": "",
        "params": "payload",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 440,
        "y": 1220,
        "wires": [
            [
                "9149069558f45e75"
            ]
        ]
    },
    {
        "id": "a63b2187b0eebd61",
        "type": "function",
        "z": "e3ca88df1a09ceff",
        "name": "function convert redis",
        "func": "let arr = msg.payload;\n\nlet obj = {};\n\nfor (let i = 0; i < arr.length; i += 2) {\n\n    let key = arr[i];\n    let value = arr[i + 1];\n\n    if (key === \"count\") {\n        value = parseInt(value);\n    }\n\n    if (key === \"total_amount\" || key === \"avg\") {\n        value = parseFloat(value);\n    }\n\n    obj[key] = value;\n}\n\nmsg.payload = obj;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 1380,
        "wires": [
            [
                "eb469a9dd429bf52"
            ]
        ]
    },
    {
        "id": "9149069558f45e75",
        "type": "split",
        "z": "e3ca88df1a09ceff",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 590,
        "y": 1260,
        "wires": [
            [
                "15e04a0a9ab2bb48"
            ]
        ]
    },
    {
        "id": "15e04a0a9ab2bb48",
        "type": "redis-command",
        "z": "e3ca88df1a09ceff",
        "server": "c1eb4eb22f91e01c",
        "command": "HGETALL",
        "name": "Get Redis HGETALL",
        "topic": "",
        "params": "payload",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 760,
        "y": 1320,
        "wires": [
            [
                "a63b2187b0eebd61"
            ]
        ]
    },
    {
        "id": "eb469a9dd429bf52",
        "type": "join",
        "z": "e3ca88df1a09ceff",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 1170,
        "y": 1380,
        "wires": [
            [
                "c85346cdde0cabb1"
            ]
        ]
    }
]