node-red/flows.json
[
    {
        "id": "e3ca88df1a09ceff",
        "type": "tab",
        "label": "Flow 1",
        "disabled": true,
        "locked": true,
        "info": "",
        "env": []
    },
    {
        "id": "4ab152296acb7a71",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9fa69d3eb1fc587b",
        "type": "junction",
        "z": "4ab152296acb7a71",
        "x": 860,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "9391ef88b1f4d066",
        "type": "kafkajs-client",
        "name": "local-kafka",
        "brokers": "kafka:9092",
        "clientid": "node-red-producer",
        "connectiontimeout": 3000,
        "requesttimeout": 25000,
        "advancedretry": false,
        "maxretrytime": 30000,
        "initialretrytime": 300,
        "factor": 0.2,
        "multiplier": 2,
        "retries": 5,
        "auth": "none",
        "tlsselfsign": false,
        "tlscacert": "",
        "tlsclientcert": "",
        "tlsprivatekey": "",
        "tlspassphrase": "",
        "saslssl": true,
        "saslmechanism": "plain",
        "loglevel": "debug"
    },
    {
        "id": "35de16ef9ee1aa1b",
        "type": "websocket-listener",
        "path": "/orders-live",
        "wholemsg": "false"
    },
    {
        "id": "cff14f982fecbc9a",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-kafkajs": "0.0.7",
            "node-red-contrib-kafka-manager": "0.5.1"
        }
    },
    {
        "id": "272c9b70270725d8",
        "type": "ui_tab",
        "name": "Orders Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "79337bc6009e099d",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "09fb5ec0571fa0c7",
        "type": "ui_group",
        "name": "City Analytics",
        "tab": "272c9b70270725d8",
        "order": 1,
        "disp": true,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a482d81985dffe7c",
        "type": "ui_group",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ba86bf5bea272fa8",
        "type": "redis-config",
        "name": "Local",
        "options": "{}",
        "cluster": false,
        "optionsType": "json"
    },
    {
        "id": "c1eb4eb22f91e01c",
        "type": "redis-config",
        "name": "Local",
        "options": "{   \"host\": \"redis\",   \"port\": 6379 }",
        "cluster": false,
        "optionsType": "json"
    },
    {
        "id": "6fb83bc17420070b",
        "type": "redis-config",
        "name": "Local",
        "options": "{   \"host\": \"redis\",   \"port\": 6379 }",
        "cluster": false,
        "optionsType": "json"
    },
    {
        "id": "2fab74ae80d1db04",
        "type": "csv",
        "z": "4ab152296acb7a71",
        "d": true,
        "name": "Parse Orders CSV",
        "spec": "rfc",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "mult",
        "ret": "\\r\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 590,
        "y": 2340,
        "wires": [
            [
                "3c53b36ff9fef0c7"
            ]
        ]
    },
    {
        "id": "c1f6fc02fd9edba4",
        "type": "file in",
        "z": "4ab152296acb7a71",
        "d": true,
        "name": "Read File",
        "filename": "/home/nithin/Downloads/real-time-order-analytics/node-red/orders_data.csv",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 340,
        "y": 2340,
        "wires": [
            [
                "2fab74ae80d1db04"
            ]
        ]
    },
    {
        "id": "11ce062849e97a8b",
        "type": "function",
        "z": "4ab152296acb7a71",
        "d": true,
        "name": "function 1",
        "func": "// =========================\n// 🔹 CLEAN & PREPARE DATA\n// =========================\n\n// ---- Clean date ----\nconst rawDate = msg.payload.order_date || \"\";\n\nconst cleanedDate = rawDate\n  .replace(/^[A-Za-z]+,\\s*/, '')\n  .replace(/\\sIST$/, '');\n\nconst parsedDate = new Date(cleanedDate + ' GMT+0530');\nconst eventTime = isNaN(parsedDate.getTime()) ? null : parsedDate.getTime();\n\n// ---- Clean city & state ----\nconst cleanCity = msg.payload.ship_city\n  ? msg.payload.ship_city.replace(/,+$/, '').trim().toUpperCase()\n  : null;\n\nconst cleanState = msg.payload.ship_state\n  ? msg.payload.ship_state.replace(/,+$/, '').trim().toUpperCase()\n  : null;\n\n// ---- Clean amount (₹, commas) ----\nconst cleanAmount = msg.payload.item_total\n  ? Number(msg.payload.item_total.toString().replace(/[₹,]/g, ''))\n  : null;\n\n// ---- Build normalized object ----\nconst order = {\n  order_id: msg.payload.order_no || null,\n  order_date: rawDate,\n  buyer_name: msg.payload.buyer || null,\n  city: cleanCity,\n  state: cleanState,\n  sku: msg.payload.sku || null,\n  description: msg.payload.description || null,\n  quantity: msg.payload.quantity ? Number(msg.payload.quantity) : null,\n  amount: cleanAmount,\n  event_time: eventTime\n};\n\n\n// =========================\n// 🔹 FORMAT SWITCH (IMPORTANT)\n// =========================\n\nlet format = msg.format || \"json\";  // default json\n\ntry {\n\n  if (format === \"csv\") {\n    // CSV format: order_id,amount,city\n    msg.payload = `${order.order_id},${order.amount},${order.city}`;\n  }\n\n  else if (format === \"xml\") {\n    // XML format\n    msg.payload = `<order>\n  <order_id>${order.order_id}</order_id>\n  <amount>${order.amount}</amount>\n  <city>${order.city}</city>\n</order>`;\n  }\n\n  else {\n    // JSON format (default)\n    msg.payload = JSON.stringify({\n      order_id: order.order_id,\n      amount: order.amount,\n      city: order.city\n    });\n  }\n\n} catch (err) {\n  node.error(\"Format conversion error: \" + err);\n  return null;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 2460,
        "wires": [
            [
                "b35001ead33161e5",
                "ca3f3cfc4a8b049d"
            ]
        ]
    },
    {
        "id": "d880e13d798cdbf2",
        "type": "kafkajs-producer",
        "z": "4ab152296acb7a71",
        "d": true,
        "name": "Order Kafka Producer",
        "client": "9391ef88b1f4d066",
        "topic": "orders_events_v2",
        "advancedoptions": false,
        "acknowledge": "all",
        "partition": "",
        "headeritems": {},
        "key": "",
        "responsetimeout": 30000,
        "transactiontimeout": 60000,
        "metadatamaxage": 300000,
        "allowautotopiccreation": false,
        "x": 1040,
        "y": 2740,
        "wires": []
    },
    {
        "id": "3c53b36ff9fef0c7",
        "type": "split",
        "z": "4ab152296acb7a71",
        "d": true,
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 830,
        "y": 2340,
        "wires": [
            [
                "f1c010348e00ec1e"
            ]
        ]
    },
    {
        "id": "b35001ead33161e5",
        "type": "delay",
        "z": "4ab152296acb7a71",
        "d": true,
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1220,
        "y": 2500,
        "wires": [
            [
                "d880e13d798cdbf2"
            ]
        ]
    },
    {
        "id": "46e4434fabb404b0",
        "type": "inject",
        "z": "4ab152296acb7a71",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 2340,
        "wires": [
            [
                "c1f6fc02fd9edba4"
            ]
        ]
    },
    {
        "id": "ce9067192f751d6c",
        "type": "http in",
        "z": "4ab152296acb7a71",
        "d": true,
        "name": "http url",
        "url": "/orders",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 2840,
        "wires": [
            [
                "014e9d9b9cf24a8b"
            ]
        ]
    },
    {
        "id": "014e9d9b9cf24a8b",
        "type": "function",
        "z": "4ab152296acb7a71",
        "d": true,
        "name": "function 2",
        "func": "const city = (msg.req.query.city || \"BENGALURU\").toUpperCase();\nconst name = (msg.req.query.name || \"\").toUpperCase();\nconst limit = parseInt(msg.req.query.limit || \"10\", 10);\n\nlet query = `\nSELECT\n   order_id,\n   order_date,\n   buyer_name,\n   city,\n   state,\n   sku,\n   description,\n   quantity,\n   amount,\n   event_time\nFROM ORDERS_BY_CITY_NAME\nWHERE city='${city}'\n`;\n\nif (name) {\n    query += ` AND buyer_name='${name}'`;\n}\n\nquery += ` LIMIT ${limit};`;\n\nmsg.payload = { ksql: query };\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 2840,
        "wires": [
            [
                "667fb36242c703cc",
                "321716f586cf2681"
            ]
        ]
    },
    {
        "id": "667fb36242c703cc",
        "type": "http request",
        "z": "4ab152296acb7a71",
        "d": true,
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:8088/query",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "other",
                "valueValue": "application/vnd.ksql.v1+json"
            }
        ],
        "x": 580,
        "y": 2840,
        "wires": [
            [
                "ab37c67f9cc357a4",
                "d7c965f1053d8f8e"
            ]
        ]
    },
    {
        "id": "ab37c67f9cc357a4",
        "type": "function",
        "z": "4ab152296acb7a71",
        "d": true,
        "name": "function 3",
        "func": "// ksqlDB response example:\n// [\n//   { header: {...} },\n//   { row: { columns: [...] } },\n//   { row: { columns: [...] } }\n// ]\n\nconst rows = msg.payload || [];\nconst result = [];\n\nfor (const r of rows) {\n\n    // ✅ skip schema/header/invalid messages\n    if (!r || !r.row || !Array.isArray(r.row.columns)) continue;\n\n    const c = r.row.columns;\n\n    // DEBUG (optional - remove later)\n    // node.warn(c);\n\n    /*\n      IMPORTANT:\n      Because you are using MATERIALIZED TABLE,\n      first column = TABLE KEY (city)\n\n      So actual order becomes:\n\n      c[0] = key_city\n      c[1] = order_id\n      c[2] = order_date\n      c[3] = buyer_name\n      c[4] = city\n      c[5] = state\n      c[6] = sku\n      c[7] = description\n      c[8] = quantity\n      c[9] = amount\n      c[10] = event_time\n    */\n\n    result.push({\n    order_id: c[0],\n    buyer_name: c[1],\n    city: c[2],\n    state: c[3],\n    order_date: c[4],\n    sku: c[5],\n    description: c[6],\n    quantity: Number(c[7]),\n    amount: Number(c[8]),\n    event_time: c[9] ? Number(c[9]) : null\n});\n}\n\n// send clean array to React\nmsg.payload = result;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 2840,
        "wires": [
            [
                "5f45b9a7910ff212",
                "39346fbefb536a9c"
            ]
        ]
    },
    {
        "id": "5f45b9a7910ff212",
        "type": "http response",
        "z": "4ab152296acb7a71",
        "d": true,
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 980,
        "y": 2840,
        "wires": []
    },
    {
        "id": "321716f586cf2681",
        "type": "debug",
        "z": "4ab152296acb7a71",
        "d": true,
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 2940,
        "wires": []
    },
    {
        "id": "d7c965f1053d8f8e",
        "type": "debug",
        "z": "4ab152296acb7a71",
        "d": true,
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 2960,
        "wires": []
    },
    {
        "id": "39346fbefb536a9c",
        "type": "debug",
        "z": "4ab152296acb7a71",
        "d": true,
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 2960,
        "wires": []
    },
    {
        "id": "f1c010348e00ec1e",
        "type": "function",
        "z": "4ab152296acb7a71",
        "d": true,
        "name": "function 4",
        "func": "msg.format = \"csv\";   // change to xml / json\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 2340,
        "wires": [
            [
                "11ce062849e97a8b"
            ]
        ]
    },
    {
        "id": "ca3f3cfc4a8b049d",
        "type": "debug",
        "z": "4ab152296acb7a71",
        "d": true,
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 2580,
        "wires": []
    },
    {
        "id": "ec2cc6b235994333",
        "type": "inject",
        "z": "4ab152296acb7a71",
        "name": "Inject CSV",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "8ea82779aafa2f9b"
            ]
        ]
    },
    {
        "id": "8ea82779aafa2f9b",
        "type": "function",
        "z": "4ab152296acb7a71",
        "name": "Set CSV File",
        "func": "msg.filename = \"/files/orders_data_4.csv\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 100,
        "wires": [
            [
                "952977a981a566e4"
            ]
        ]
    },
    {
        "id": "952977a981a566e4",
        "type": "file in",
        "z": "4ab152296acb7a71",
        "name": "Read File",
        "filename": "filename",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 500,
        "y": 100,
        "wires": [
            [
                "4f3747a4b5d03eba",
                "22fb497f7d9b6968"
            ]
        ]
    },
    {
        "id": "4f3747a4b5d03eba",
        "type": "csv",
        "z": "4ab152296acb7a71",
        "name": "",
        "spec": "rfc",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "one",
        "ret": "\\r\\n",
        "temp": "",
        "skip": "0",
        "strings": false,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 670,
        "y": 100,
        "wires": [
            [
                "c8c922ca34c6f912"
            ]
        ]
    },
    {
        "id": "c8c922ca34c6f912",
        "type": "function",
        "z": "4ab152296acb7a71",
        "name": "CSV Formatter",
        "func": "// =========================\n// 🔹 CSV FORMATTER (UPDATED FINAL)\n// =========================\n\n// Validate payload\nif (typeof msg.payload !== \"object\") {\n\n  node.warn(\n    \"Invalid payload: \" +\n    msg.payload\n  );\n\n  return null;\n}\n\nconst row = msg.payload;\n\n// =========================\n// 🔹 CLEAN DATE\n// =========================\n\nconst rawDate = row.timestamp || row.order_date || \"\";\n\nlet parsedDate = new Date(rawDate);\n\nif (isNaN(parsedDate.getTime())) {\n\n  parsedDate = new Date();\n}\n\n// =========================\n// 🔹 CLEAN FIELDS\n// =========================\n\n// ORDER ID\nconst orderId =\n  row.order_id ||\n  row.order_no ||\n  null;\n\n// CUSTOMER\nconst customerName =\n  row.customer_name ||\n  row.buyer ||\n  \"UNKNOWN\";\n\n// PRODUCT\nconst productName =\n  row.product_name ||\n  row.description ||\n  \"UNKNOWN PRODUCT\";\n\n// CATEGORY\nconst category =\n  row.category ||\n  \"GENERAL\";\n\n// PAYMENT METHOD\nlet paymentMethod = \"ONLINE\";\n\nif (row.payment_method) {\n\n  paymentMethod = row.payment_method\n    .toString()\n    .trim()\n    .toUpperCase();\n\n}\nelse if (row.cod) {\n\n  paymentMethod = \"COD\";\n}\n\n// CITY\nconst rawCity =\n  row.city ||\n  row.ship_city;\n\nconst city = rawCity\n  ? rawCity.toString()\n    .replace(/,+$/, '')\n    .trim()\n    .toUpperCase()\n  : null;\n\n// STATE\nconst rawState =\n  row.state ||\n  row.ship_state;\n\nconst state = rawState\n  ? rawState.toString()\n    .replace(/,+$/, '')\n    .trim()\n    .toUpperCase()\n  : \"UNKNOWN\";\n\n// QUANTITY\nconst quantity =\n  row.quantity\n    ? Number(row.quantity)\n    : 1;\n\n// AMOUNT\nconst rawAmount =\n  row.amount ||\n  row.item_total ||\n  0;\n\nconst amount = Number(\n  rawAmount.toString()\n    .replace(/[₹,]/g, '')\n    .trim()\n);\n\n// SHIPPING FEE\nconst rawShipping =\n  row.shipping_fee ||\n  0;\n\nconst shippingFee = Number(\n  rawShipping.toString()\n    .replace(/[₹,]/g, '')\n    .trim()\n);\n\n// ORDER STATUS\nconst orderStatus =\n  row.order_status ||\n  \"PENDING\";\n\n// ORDER SOURCE\nconst orderSource =\n  row.order_source ||\n  \"WEBSITE\";\n\n// =========================\n// 🔹 VALIDATION\n// =========================\n\nif (!orderId || !city) {\n\n  node.warn(\n    \"Skipping invalid row: \" +\n    JSON.stringify(row)\n  );\n\n  return null;\n}\n\n// =========================\n// 🔹 FINAL NORMALIZED EVENT\n// =========================\n\nmsg.payload = {\n\n  order_id: orderId\n    .toString()\n    .trim(),\n\n  customer_name: customerName\n    .toString()\n    .trim(),\n\n  product_name: productName\n    .toString()\n    .trim(),\n\n  category: category\n    .toString()\n    .trim(),\n\n  payment_method: paymentMethod,\n\n  city: city,\n\n  state: state,\n\n  quantity: quantity,\n\n  amount: amount,\n\n  shipping_fee: shippingFee,\n\n  order_status: orderStatus,\n\n  order_source: orderSource,\n\n  order_date: parsedDate.toISOString(),\n\n  timestamp: new Date().toISOString()\n\n};\n\n// =========================\n// 🔹 DEBUG\n// =========================\n\nnode.warn(\n  \"FINAL CSV JSON → \" +\n  JSON.stringify(msg.payload)\n);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 100,
        "wires": [
            [
                "8c3334555779de6d",
                "3a10713b6967ab7c"
            ]
        ]
    },
    {
        "id": "82f1e634803dba9a",
        "type": "kafkajs-producer",
        "z": "4ab152296acb7a71",
        "name": "Order Kafka Producer",
        "client": "9391ef88b1f4d066",
        "topic": "orders_events_v2",
        "advancedoptions": false,
        "acknowledge": "all",
        "partition": "",
        "headeritems": {},
        "key": "",
        "responsetimeout": 30000,
        "transactiontimeout": 60000,
        "metadatamaxage": 300000,
        "allowautotopiccreation": false,
        "x": 1200,
        "y": 100,
        "wires": []
    },
    {
        "id": "64a2a8ec9e0fbe94",
        "type": "inject",
        "z": "4ab152296acb7a71",
        "name": "Inject JSON",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 300,
        "wires": [
            [
                "d315c37f8ba5f4cf"
            ]
        ]
    },
    {
        "id": "d315c37f8ba5f4cf",
        "type": "function",
        "z": "4ab152296acb7a71",
        "name": "Set JSON File",
        "func": "msg.filename = \"/files/orders_data.json\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 300,
        "wires": [
            [
                "7a5c456040b7388a",
                "0f8f4f26f8fe299b"
            ]
        ]
    },
    {
        "id": "1cc38dac40e9d93c",
        "type": "kafkajs-producer",
        "z": "4ab152296acb7a71",
        "name": "Order Kafka Producer",
        "client": "9391ef88b1f4d066",
        "topic": "orders_events_v2",
        "advancedoptions": false,
        "acknowledge": "all",
        "partition": "",
        "headeritems": {},
        "key": "",
        "responsetimeout": 30000,
        "transactiontimeout": 60000,
        "metadatamaxage": 300000,
        "allowautotopiccreation": false,
        "x": 1220,
        "y": 360,
        "wires": []
    },
    {
        "id": "7a5c456040b7388a",
        "type": "file in",
        "z": "4ab152296acb7a71",
        "name": "Read File",
        "filename": "filename",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 480,
        "y": 300,
        "wires": [
            [
                "72f24e2817911308"
            ]
        ]
    },
    {
        "id": "22fb497f7d9b6968",
        "type": "debug",
        "z": "4ab152296acb7a71",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 20,
        "wires": []
    },
    {
        "id": "0f8f4f26f8fe299b",
        "type": "debug",
        "z": "4ab152296acb7a71",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 220,
        "wires": []
    },
    {
        "id": "72f24e2817911308",
        "type": "json",
        "z": "4ab152296acb7a71",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 610,
        "y": 340,
        "wires": [
            [
                "d3d0b697f5be364a"
            ]
        ]
    },
    {
        "id": "549b993ff57d0c89",
        "type": "function",
        "z": "4ab152296acb7a71",
        "name": "JSON Formatter",
        "func": "// =========================\n// 🔹 JSON FORMATTER (FINAL)\n// Supports OLD + NEW JSON SCHEMA\n// =========================\n\n// Validate payload\nif (typeof msg.payload !== \"object\") {\n\n    node.warn(\"Invalid payload: \" + msg.payload);\n\n    return null;\n}\n\nconst row = msg.payload;\n\n// =========================\n// 🔹 CLEAN + NORMALIZE FIELDS\n// =========================\n\n// ORDER ID\nconst orderId = row.order_id || row.order_no;\n\n// CUSTOMER NAME\nconst customerName = row.customer_name || row.buyer || \"UNKNOWN\";\n\n// PRODUCT NAME\nconst productName =\n    row.product_name ||\n    row.description ||\n    \"UNKNOWN PRODUCT\";\n\n// PAYMENT METHOD\nlet paymentMethod = \"ONLINE\";\n\nif (row.payment_method) {\n\n    paymentMethod = row.payment_method\n        .toString()\n        .trim()\n        .toUpperCase();\n\n}\nelse if (row.cod) {\n\n    paymentMethod = \"COD\";\n}\n\n// CITY\nconst rawCity = row.city || row.ship_city;\n\nconst city = rawCity\n    ? rawCity.toString()\n        .replace(/,+$/, '')\n        .trim()\n        .toUpperCase()\n    : null;\n\n// STATE\nconst state = (\n    row.state ||\n    row.ship_state ||\n    \"UNKNOWN\"\n)\n    .toString()\n    .trim()\n    .toUpperCase();\n\n// QUANTITY\nconst quantity = row.quantity\n    ? Number(row.quantity)\n    : 1;\n\n// AMOUNT\nconst rawAmount =\n    row.amount ||\n    row.item_total ||\n    0;\n\nconst amount = Number(\n    rawAmount\n        .toString()\n        .replace(/[₹,]/g, '')\n        .trim()\n);\n\n// SHIPPING FEE\nconst rawShipping =\n    row.shipping_fee ||\n    0;\n\nconst shippingFee = Number(\n    rawShipping\n        .toString()\n        .replace(/[₹,]/g, '')\n        .trim()\n);\n\n// ORDER STATUS\nconst orderStatus =\n    row.order_status ||\n    \"PENDING\";\n\n// ORDER DATE\nconst orderDate =\n    row.order_date ||\n    new Date().toISOString();\n\n// =========================\n// 🔹 VALIDATION\n// =========================\n\nif (!orderId || !city) {\n\n    node.warn(\n        \"Skipping invalid row: \" +\n        JSON.stringify(row)\n    );\n\n    return null;\n}\n\n// =========================\n// 🔹 FINAL CLEAN EVENT\n// =========================\n\nmsg.payload = {\n\n    order_id: orderId\n        .toString()\n        .trim(),\n\n    customer_name: customerName\n        .toString()\n        .trim(),\n\n    product_name: productName\n        .toString()\n        .trim(),\n\n    payment_method: paymentMethod,\n\n    city: city,\n\n    state: state,\n\n    quantity: quantity,\n\n    amount: amount,\n\n    shipping_fee: shippingFee,\n\n    order_status: orderStatus,\n\n    order_date: orderDate,\n\n    timestamp: new Date().toISOString()\n\n};\n\n// =========================\n// 🔹 DEBUG\n// =========================\n\nnode.warn(\n    \"FINAL JSON → \" +\n    JSON.stringify(msg.payload)\n);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 340,
        "wires": [
            [
                "213c31d522d68f4f",
                "0c9c1a705b13c838"
            ]
        ]
    },
    {
        "id": "02c310a61d3c756f",
        "type": "kafkajs-producer",
        "z": "4ab152296acb7a71",
        "name": "Order Kafka Producer",
        "client": "9391ef88b1f4d066",
        "topic": "orders_events_v2",
        "advancedoptions": false,
        "acknowledge": "all",
        "partition": "",
        "headeritems": {},
        "key": "",
        "responsetimeout": 30000,
        "transactiontimeout": 60000,
        "metadatamaxage": 300000,
        "allowautotopiccreation": false,
        "x": 1240,
        "y": 760,
        "wires": []
    },
    {
        "id": "3a318d080cbd68f5",
        "type": "inject",
        "z": "4ab152296acb7a71",
        "name": "Inject XML",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 580,
        "wires": [
            [
                "212de46dce66119b"
            ]
        ]
    },
    {
        "id": "212de46dce66119b",
        "type": "function",
        "z": "4ab152296acb7a71",
        "name": "Set XML File",
        "func": "msg.filename = \"/files/orders_data.xml\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 600,
        "wires": [
            [
                "e97dc24725bf5302",
                "4bc414aac09518d9"
            ]
        ]
    },
    {
        "id": "e97dc24725bf5302",
        "type": "file in",
        "z": "4ab152296acb7a71",
        "name": "Read File",
        "filename": "filename",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 460,
        "y": 600,
        "wires": [
            [
                "fe4331be59fa2063"
            ]
        ]
    },
    {
        "id": "4bc414aac09518d9",
        "type": "debug",
        "z": "4ab152296acb7a71",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 500,
        "wires": []
    },
    {
        "id": "0c9c1a705b13c838",
        "type": "debug",
        "z": "4ab152296acb7a71",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 260,
        "wires": []
    },
    {
        "id": "8c3334555779de6d",
        "type": "debug",
        "z": "4ab152296acb7a71",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 40,
        "wires": []
    },
    {
        "id": "f26971a94de2dd55",
        "type": "function",
        "z": "4ab152296acb7a71",
        "name": "XML Formatter",
        "func": "// =========================\n// 🔹 XML FORMATTER (UPDATED FINAL)\n// =========================\n\nif (!msg.payload) {\n\n    node.warn(\"Empty XML payload\");\n    return null;\n\n}\n\nlet data = msg.payload;\n\n// =========================\n// 🔹 NORMALIZE XML STRUCTURE\n// =========================\n\nlet orders = [];\n\nif (data.orders && data.orders.order) {\n\n    orders = Array.isArray(data.orders.order)\n        ? data.orders.order\n        : [data.orders.order];\n\n} else {\n\n    orders = [data];\n\n}\n\n// =========================\n// 🔹 CLEAN + FORMAT DATA\n// =========================\n\nlet result = [];\n\norders.forEach(row => {\n\n    // ORDER ID\n    const orderId = row.order_id\n        ? row.order_id.toString().trim()\n        : null;\n\n    // CUSTOMER\n    const customerName = row.customer_name\n        ? row.customer_name.toString().trim()\n        : \"UNKNOWN\";\n\n    // PRODUCT\n    const productName = row.product_name\n        ? row.product_name.toString().trim()\n        : \"UNKNOWN\";\n\n    // PAYMENT\n    const paymentMethod = row.payment_method\n        ? row.payment_method.toString().trim().toUpperCase()\n        : \"UNKNOWN\";\n\n    // CITY\n    const city = row.city\n        ? row.city.toString().trim().toUpperCase()\n        : null;\n\n    // STATE\n    const state = row.state\n        ? row.state.toString().trim().toUpperCase()\n        : \"UNKNOWN\";\n\n    // QUANTITY\n    const quantity = row.quantity\n        ? Number(row.quantity)\n        : 1;\n\n    // AMOUNT\n    let amount = 0;\n\n    if (row.amount) {\n\n        amount = Number(\n            row.amount.toString()\n                .replace(/[₹,]/g, \"\")\n                .trim()\n        );\n\n    }\n\n    // SHIPPING FEE\n    let shippingFee = 0;\n\n    if (row.shipping_fee) {\n\n        shippingFee = Number(\n            row.shipping_fee.toString()\n                .replace(/[₹,]/g, \"\")\n                .trim()\n        );\n\n    }\n\n    // ORDER STATUS\n    const orderStatus = row.order_status\n        ? row.order_status.toString().trim()\n        : \"PENDING\";\n\n    // =========================\n    // 🔹 SKIP INVALID DATA\n    // =========================\n\n    if (!orderId || !city) {\n\n        node.warn(\n            \"Skipping invalid XML row: \" +\n            JSON.stringify(row)\n        );\n\n        return;\n\n    }\n\n    // =========================\n    // 🔹 FINAL CLEAN OBJECT\n    // =========================\n\n    result.push({\n\n        order_id: orderId,\n\n        customer_name: customerName,\n\n        product_name: productName,\n\n        payment_method: paymentMethod,\n\n        city: city,\n\n        state: state,\n\n        quantity: quantity,\n\n        amount: amount,\n\n        shipping_fee: shippingFee,\n\n        order_status: orderStatus\n\n    });\n\n});\n\n// =========================\n// 🔹 NO VALID DATA\n// =========================\n\nif (result.length === 0) {\n\n    node.warn(\"No valid XML orders found\");\n    return null;\n\n}\n\n// =========================\n// 🔹 FINAL PAYLOAD\n// =========================\n\nmsg.payload = {\n\n    orders: result\n\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 620,
        "wires": [
            [
                "9bc4732373fd6ec3",
                "aba2b0022abad753"
            ]
        ]
    },
    {
        "id": "9bc4732373fd6ec3",
        "type": "debug",
        "z": "4ab152296acb7a71",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 520,
        "wires": []
    },
    {
        "id": "d3d0b697f5be364a",
        "type": "split",
        "z": "4ab152296acb7a71",
        "name": "",
        "splt": "",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 710,
        "y": 280,
        "wires": [
            [
                "549b993ff57d0c89"
            ]
        ]
    },
    {
        "id": "713644fb083a76cf",
        "type": "split",
        "z": "4ab152296acb7a71",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 790,
        "y": 600,
        "wires": [
            [
                "f26971a94de2dd55"
            ]
        ]
    },
    {
        "id": "d134bfe44123c930",
        "type": "function",
        "z": "4ab152296acb7a71",
        "name": "function 5",
        "func": "// Flexible XML extractor\n\nlet data = msg.payload;\n\n// Case 1: orders.order\nif (data.orders && data.orders.order) {\n    msg.payload = data.orders.order;\n    return msg;\n}\n\n\n\nnode.warn(\"Invalid XML structure: \" + JSON.stringify(msg.payload));\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 560,
        "wires": [
            [
                "713644fb083a76cf"
            ]
        ]
    },
    {
        "id": "213c31d522d68f4f",
        "type": "function",
        "z": "4ab152296acb7a71",
        "name": "function 6",
        "func": "msg.payload = JSON.stringify(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 420,
        "wires": [
            [
                "1cc38dac40e9d93c"
            ]
        ]
    },
    {
        "id": "aba2b0022abad753",
        "type": "xml",
        "z": "4ab152296acb7a71",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 1170,
        "y": 680,
        "wires": [
            [
                "02c310a61d3c756f"
            ]
        ]
    },
    {
        "id": "fe4331be59fa2063",
        "type": "xml",
        "z": "4ab152296acb7a71",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 610,
        "y": 620,
        "wires": [
            [
                "d134bfe44123c930"
            ]
        ]
    },
    {
        "id": "e34e0b4dc2a4861f",
        "type": "http in",
        "z": "4ab152296acb7a71",
        "d": true,
        "name": "",
        "url": "/orders",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 55,
        "y": 1340,
        "wires": [
            [
                "3bcf70158e7388c1"
            ]
        ],
        "l": false
    },
    {
        "id": "a95e6619e0a85f5a",
        "type": "http response",
        "z": "4ab152296acb7a71",
        "d": true,
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1335,
        "y": 1520,
        "wires": [],
        "l": false
    },
    {
        "id": "3bcf70158e7388c1",
        "type": "function",
        "z": "4ab152296acb7a71",
        "d": true,
        "name": "function redis",
        "func": "msg.payload = \"city_avg:*\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 215,
        "y": 1380,
        "wires": [
            [
                "9c1b1e02487525d8"
            ]
        ],
        "l": false
    },
    {
        "id": "9c1b1e02487525d8",
        "type": "redis-command",
        "z": "4ab152296acb7a71",
        "d": true,
        "server": "c1eb4eb22f91e01c",
        "command": "KEYS",
        "name": "Get Redis Keys",
        "topic": "",
        "params": "payload",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 395,
        "y": 1420,
        "wires": [
            [
                "c699f59705831549"
            ]
        ],
        "l": false
    },
    {
        "id": "e33adc154845912b",
        "type": "function",
        "z": "4ab152296acb7a71",
        "d": true,
        "name": "function convert redis",
        "func": "let arr = msg.payload;\n\nlet obj = {};\n\nfor (let i = 0; i < arr.length; i += 2) {\n\n    let key = arr[i];\n    let value = arr[i + 1];\n\n    if (key === \"count\") {\n        value = parseInt(value);\n    }\n\n    if (key === \"total_amount\" || key === \"avg\") {\n        value = parseFloat(value);\n    }\n\n    obj[key] = value;\n}\n\nmsg.payload = obj;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 975,
        "y": 1460,
        "wires": [
            [
                "7096354c8acaf2d6"
            ]
        ],
        "l": false
    },
    {
        "id": "c699f59705831549",
        "type": "split",
        "z": "4ab152296acb7a71",
        "d": true,
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 595,
        "y": 1420,
        "wires": [
            [
                "493386068344059f"
            ]
        ],
        "l": false
    },
    {
        "id": "493386068344059f",
        "type": "redis-command",
        "z": "4ab152296acb7a71",
        "d": true,
        "server": "c1eb4eb22f91e01c",
        "command": "HGETALL",
        "name": "Get Redis HGETALL",
        "topic": "",
        "params": "payload",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 735,
        "y": 1420,
        "wires": [
            [
                "e33adc154845912b"
            ]
        ],
        "l": false
    },
    {
        "id": "7096354c8acaf2d6",
        "type": "join",
        "z": "4ab152296acb7a71",
        "d": true,
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 1215,
        "y": 1480,
        "wires": [
            [
                "a95e6619e0a85f5a"
            ]
        ],
        "l": false
    },
    {
        "id": "ca1bc5e38987c154",
        "type": "http in",
        "z": "4ab152296acb7a71",
        "name": "",
        "url": "/alerts",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 1140,
        "wires": [
            [
                "266a4369715af00c"
            ]
        ]
    },
    {
        "id": "9c7f04c90fa695bd",
        "type": "function",
        "z": "4ab152296acb7a71",
        "name": "function redis alert",
        "func": "msg.headers = {\n    \"Content-Type\": \"application/json\"\n};\n\nmsg.payload = {\n    success: true,\n    data: msg.payload || msg.stdout || \"No Redis data\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 1140,
        "wires": [
            [
                "e7948a125d4d7fdb",
                "ca6dd9c2b2f3cc93"
            ]
        ]
    },
    {
        "id": "e7948a125d4d7fdb",
        "type": "http response",
        "z": "4ab152296acb7a71",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 800,
        "y": 1140,
        "wires": []
    },
    {
        "id": "ca6dd9c2b2f3cc93",
        "type": "debug",
        "z": "4ab152296acb7a71",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 1040,
        "wires": []
    },
    {
        "id": "f7ae2bf5b797b937",
        "type": "debug",
        "z": "4ab152296acb7a71",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 1000,
        "wires": []
    },
    {
        "id": "266a4369715af00c",
        "type": "exec",
        "z": "4ab152296acb7a71",
        "command": "redis-cli",
        "addpay": "",
        "append": "XREVRANGE orders_stream + - COUNT 5",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Redis Stream Alerts",
        "x": 320,
        "y": 1140,
        "wires": [
            [],
            [
                "9c7f04c90fa695bd",
                "f7ae2bf5b797b937"
            ],
            []
        ]
    },
    {
        "id": "265bd6be2b084e1e",
        "type": "http in",
        "z": "4ab152296acb7a71",
        "name": "",
        "url": "/test",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 820,
        "wires": [
            [
                "3f617e139736f719"
            ]
        ]
    },
    {
        "id": "3f617e139736f719",
        "type": "function",
        "z": "4ab152296acb7a71",
        "name": "function 8",
        "func": "msg.payload = {\n    success: true,\n    message: \"Node-RED working\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 820,
        "wires": [
            [
                "f9fdde1fa3c2a745"
            ]
        ]
    },
    {
        "id": "f9fdde1fa3c2a745",
        "type": "http response",
        "z": "4ab152296acb7a71",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 590,
        "y": 820,
        "wires": []
    },
    {
        "id": "6773a0f066f0cdfe",
        "type": "redis-command",
        "z": "4ab152296acb7a71",
        "server": "6fb83bc17420070b",
        "command": "XREVRANGE",
        "name": "Redis Alert",
        "topic": "orders_stream",
        "params": "[\"+\", \"-\", \"COUNT\", \"20\"]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1130,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "82db792884cadfa4",
        "type": "function",
        "z": "4ab152296acb7a71",
        "name": "XML Formatter",
        "func": "// =========================\n// 🔹 XML FORMATTER (FINAL)\n// =========================\n\nif (!msg.payload) {\n    node.warn(\"Empty XML payload\");\n    return null;\n}\n\nlet data = msg.payload;\n\n// ✅ Normalize orders (handles all cases)\n\nlet orders = [];\n\n\nif (data.orders && data.orders.order) {\n    orders = Array.isArray(data.orders.order)\n        ? data.orders.order\n        : [data.orders.order];\n\n}  else {\n    orders = [data];\n}\n\n// ✅ Process all orders\nlet result = [];\n\norders.forEach(row => {\n\n    const orderId = row.order_no\n        ? row.order_no.toString().trim()\n        : null;\n\n    const city = row.ship_city\n        ? row.ship_city.toString().replace(/,+$/, '').trim().toUpperCase()\n        : null;\n\n    let amount = null;\n    if (row.item_total) {\n        amount = Number(\n            row.item_total.toString().replace(/[₹,]/g, '')\n        );\n    }\n\n    // Skip invalid rows\n    if (!orderId || !city) {\n        node.warn(\"Skipping invalid XML row: \" + JSON.stringify(row));\n        return;\n    }\n\n    result.push({\n        order_id: orderId,\n        amount: amount !== null ? amount : 0,\n        city: city\n    });\n\n});\n\n// If no valid data\nif (result.length === 0) {\n    return null;\n}\n\n// ✅ Final payload (multiple orders supported)\nmsg.payload = {\n    orders: result\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 894.4443969726562,
        "y": 746.6666259765625,
        "wires": [
            []
        ]
    },
    {
        "id": "3a10713b6967ab7c",
        "type": "function",
        "z": "4ab152296acb7a71",
        "name": "Kafka CSV Stringifier",
        "func": "msg.payload = JSON.stringify(msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 160,
        "wires": [
            [
                "82f1e634803dba9a"
            ]
        ]
    }
]